<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="myModalLabel">About Blt <img src=../img/blt-about.png></h4>
		</div>
		<div class="modal-body">
		<div class="bs-callout">
			This is BLT, the BGP Linkstate Topographer<br/>
			version <code><%- version %></code>.<br/>
			Contact: <a href="mailto:contact@netfishers.onl">contact@netfishers.onl</a>
		</div>
		<div>
		Blt makes use of the following libraries: Quartz, Netty, Grizzly, Jersey, 
		Jsch, SLF4j, Logback, Apache Commons, MOXy, Bouncy Castle, Bootstrap, jQuery,
		Backbone.js, Underscore.js, jsPlump, Glyphicons, Jasypt, RequireJS, Typeahead,
		jQuery UI, JRadius.
		Thanks to all the authors of these great opensource libraries!
		</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>