<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
		</button>
		<span class="navbar-brand"><span class="blt-brand">BLT</span></span>
	</div>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav" id="headerNetworks">
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">User <%- user.name %> <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li role="presentation" class="dropdown-header"><strong><%- user.name %></strong> &mdash; <%- user.role %><% if (user.remote === true) { %> (remote)<% } %></li>
					<li role="presentation"><a href="#" id="disconnect">Disconnect</a></li>
					<li role="presentation"<% if (user.remote === true) { %> class="disabled"<% } %>><a href="#" id="changepassword">Change password...</a></li>
				</ul></li>
			<li><a id="about" href="#about">About...</a></li>
			<li id="admin"><a href="#admin">Administration</a></li>
		</ul>
	</div>
	<!--/.nav-collapse -->
</div>