<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="myModalLabel">Add SSH Account</h4>
		</div>
		<div class="modal-body">
		    <form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-sm-4 control-label">Network</label>
				<div class="col-sm-8">
					<p class="form-control-static"><%- name %></p>
				</div>
			</div>
			<div class="form-group">
				<label for="subnet" class="col-sm-4 control-label">Subnet</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="subnet" placeholder="Enter subnet" />
				</div>
			</div>
			<div class="form-group">
				<label for="sshusername" class="col-sm-4 control-label">Username</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="sshusername" placeholder="Enter SSH username" autocomplete="off" />
				</div>
			</div>
			<div class="form-group">
				<label for="sshpassword" class="col-sm-4 control-label">Password</label>
				<div class="col-sm-8">
					<input type="password" class="form-control" id="sshpassword" placeholder="Enter SSH password" autocomplete="off" />
				</div>
				<label for="csshpassword" class="col-sm-4 control-label">Confirm password</label>
				<div class="col-sm-8">
					<input type="password" class="form-control" id="csshpassword" placeholder="Repeat SSH password" autocomplete="off" />
				</div>
			</div>
			</form>
			<div class="alert alert-danger" id="dialogError" style="display: none;">
			<strong>Error.</strong> <span id="dialogErrorText"></span>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" id="add">
				<span class="glyphicon glyphicon glyphicon-ok-circle"></span> Add
			</button>
			<button type="button" class="btn btn-default" id="cancel" data-dismiss="modal">
				<span class="glyphicon glyphicon glyphicon-ban-circle"></span> Cancel
			</button>
		</div>
	</div>
</div>