

<div class="col-md-2">
	<ul class="nav nav-pills nav-stacked" id="adminMenu">
		<li><a href="#" id="adminMenuUsers" data-section="users">Users</a></li>
		<li><a href="#" id="adminMenuNetworks" data-section="networks">Networks</a></li>
<!-- 		<li><a href="#" id="adminMenuLicenses" data-section="licenses">Licenses</a>
 -->	</ul>
</div>






<div class="col-md-8 admin-section" id="adminNetworksSection">

<div id="adminNetworks">
</div>

<button type="button" class="btn btn-primary network-add">
	<span class="glyphicon glyphicon-plus"></span> Add network
</button>

</div>









<div class="col-md-6 admin-section" id="adminUsersSection">

<table class="table table-striped" id="users">
<thead>
	<tr><th class="login">Login</th><th class="role">Role</th><th class="actions"></th></tr>
</thead>
<tbody></tbody>
</table>

<button type="button" class="btn btn-primary user-add">
	<span class="glyphicon glyphicon-plus"></span> Add user
</button>

</div>





<!-- <div class="col-md-8 admin-section" id="adminLicensesSection">

<div id="licensingStatus"></div>

<table class="table table-striped" id="licenses">
<thead>
	<tr><th>Issue date</th><th>Expiration date</th><th>Owner</th><th>Status</th><th></th></tr>
</thead>
<tbody></tbody>
</table>

<button type="button" class="btn btn-primary license-add">
	<span class="glyphicon glyphicon-plus"></span> Add license
</button>

</div> -->