<!-- <tr class="license" data-license="<%- id %>">
	<td><span class="glyphicon glyphicon-book"></span> <%- new Date(content.issueDate).toDateString() %></td>
	<td><%- new Date(content.expirationDate).toDateString() %></td>
	<td><%- content.owner %>
	<td>
	<% if (validity == "VALID") { %><span class="text-success">Valid</span>
	<% } else if (validity == "EXPIRED") { %><span class="text-danger">Expired</span>
	<% } else if (validity == "INVALID_HOST") { %><span class="text-danger">Incorrect hardware</span>
	<% } else if (validity == "INVALID_VERSION") { %><span class="text-danger">Invalid version</span>
	<% } else if (validity == "INVALID_FEATURES") { %><span class="text-danger">Invalid feature set</span>
	<% } else { %><span class="text-danger">Invalid</span><% } %>
	</td>
	<td>
		<button type="button" class="btn btn-default btn-xs destroy"
			data-toggle="tooltip" data-placement="left" title="Destroy">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	</td>
</tr> -->