<tr class="user" data-user="<%- id %>">
	<td><span class="glyphicon glyphicon-user"></span> <%- name %></td>
	<td><%- role %></td>
	<td>
		<button type="button" class="btn btn-default btn-xs edit"
			data-toggle="tooltip" data-placement="left" title="Edit">
			<span class="glyphicon glyphicon-wrench"></span>
		</button>
		<button type="button" class="btn btn-default btn-xs destroy"
			data-toggle="tooltip" data-placement="left" title="Destroy">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	</td>
</tr>