<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title" id="myModalLabel">Session expired</h4>
		</div>
		<div class="modal-body">
			<p>The session has expired, you need to re-authenticate.</p>
			<p><a href="#" id="reloadlink">Refresh the page</a> to authenticate.</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" id="reload">
				<span class="glyphicon glyphicon glyphicon-refresh"></span> Refresh
			</button>
		</div>
	</div>
</div>