
<h2>
	<%- router.name %> <small>Add a subinterface</small>
</h2>

<div class="alert alert-danger" role="alert" id="error">
	<strong>Error</strong> <span id="errorText"></span>
</div>


<form role="form">
	<div class="form-group">
		<label>Router</label>
		<p class="form-control-static"><%- router.name %></p>
	</div>
	<div class="form-group">
		<label for="name">Interface name</label>
		<div class="input-group">
			<span class="input-group-addon"><%- mother.name %>.</span>
			<input type="text" class="form-control" id='tag' placeholder="Enter .1q tag">
		</div>
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<input type="text" class="form-control" id="description" placeholder="Enter a description" />
	</div>
	<div class="form-group">
		<label for="ipv4address">IPv4 address</label>
		<input type="text" class="form-control" id="ipv4address" placeholder="X.X.X.X/Y" />
	</div>
	<div class="form-group">
		<label for="inacl">Inbound ACL</label>
		<select class="form-control" id="inacl">
			<option value="">None</option>
			<% for (var a in ipv4AccessLists) { %>
				<option value="<%- ipv4AccessLists[a].name %>"><%- ipv4AccessLists[a].name %></option>
			<% } %>
		</select>
	</div>
	<div class="form-group">
		<label for="inqos">Inbound QoS service policy</label>
		<select class="form-control" id="inqos">
			<option value="">None</option>
			<% for (var p in policyMaps) { %>
				<option value="<%- policyMaps[p].value %>"><%- policyMaps[p].value %></option>
			<% } %>
		</select>
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox" id="multicast" /> Enable multicast
		</label>
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox" id="shutdown" /> Shutdown
		</label>
	</div>
</form>

<div class="buttonbar">
	<button type="button" class="btn btn-primary" id="add">
		<span class="glyphicon glyphicon glyphicon-ok-circle"></span> Add
	</button>
	<button type="button" class="btn btn-default" id="cancel">
		<span class="glyphicon glyphicon glyphicon-ban-circle"></span> Cancel
	</button>
</div>