
<h2>
	<%- router.name %> <small>Delete a static route</small>
</h2>

<div class="alert alert-danger" role="alert" id="error">
	<strong>Error</strong> <span id="errorText"></span>
</div>

<form role="form">
	<div class="form-group">
		<label>Router</label>
		<p class="form-control-static"><%- router.name %></p>
	</div>
	<div class="form-group">
		<label>Subnet</label>
		<p class="form-control-static"><%- subnet.ip %>/<%- subnet.prefixLength %></p>
	</div>
	<div class="form-group">
		<label>Next hop or interface</label>
		<p class="form-control-static">
		<% if (typeof(nextHop) != "undefined") { %><%- nextHop.ip %><% } %>
		<% if (typeof(nextInterface) != "undefined") { %><%- nextInterface %><% } %>
		</p>
	</div>
	<div class="form-group">
	This route will be deleted from the router. Do you want to continue?
	</div>
</form>

<div class="buttonbar">
	<button type="button" class="btn btn-danger" id="delete">
		<span class="glyphicon glyphicon glyphicon-ok-circle"></span> Delete
	</button>
	<button type="button" class="btn btn-default" id="cancel">
		<span class="glyphicon glyphicon glyphicon-ban-circle"></span> Cancel
	</button>
</div>