
<div class="form-group hop" data-hop-index="<%- key %>">
	<div class="col-lg-6">
		<div class="input-group">
			<span class="input-group-addon">Hop <%- key %></span>
			<input type="text" class="form-control hopip" placeholder="IP"
				value="<%- value.ipAddress.ip %>" />
			<span class="input-group-addon">
				<input type="checkbox" class="hoploose" <% if (value.type == "LOOSE") { %>checked="checked"<% } %> /> Loose
			</span>
			<span class="input-group-btn">
				<button class="btn btn-default hopremove" type="button">
					<span class="glyphicon glyphicon glyphicon-remove"></span>
				</button>
			</span>
		</div>
	</div>
	<div>
		<div class="input-group">
			<p class="form-control-static hopdescription"></p>
		</div>
	</div>
</div>

