
<% if ( gmaps === true) { %>
<p>
<% } else { %>
<h4>
<% } %>

<%- link1.protocolId %> Link <small>between <%- router1.name %> and <%- router2.name %></small>

<% if ( gmaps === true) { %>
</p>
<% } else { %>
</h4>
<% } %>

<% if ( link1.lost === true) { %>

<div class="alert alert-warning" role="alert">

The link isn't present anymore in the IGP topology.

<button type="button" class="btn btn-danger" id="remove">
  <span class="glyphicon glyphicon-remove"></span> Remove from map
</button>

</div>

<% } %>

<% if ( gmaps === true) { %>
<table class="bubbleTab">
<% } else { %>
<table class="table table-condensed">
<% } %>

<thead>
	<tr>
		<th></th>
		<th><%- router1.name %></th>
		<th><%- router2.name %></th>
	</tr>
</thead>
<tbody>
	<% if (typeof(link1.localInterfaceName) != "undefined") { %>
	<tr>
		<th>Interface</th>
		<td><%- link1.localInterfaceName %></td>
		<td><%- link1.remoteInterfaceName %></td>
	</tr>
	<tr>
		<th>Description</th>
		<td><%- link1.localInterfaceDescription %></td>
		<td><%- link1.remoteInterfaceDescription %></td>
	</tr>
	<tr>
		<th>IP address</th>
		<td><%- link1.localAddress.ip %></td>
		<td><%- link1.remoteAddress.ip %></td>
	</tr>
	<% } %>
	<% if ( link1.metric != 0 ) { %>
	<tr>
		<th>Metric</th>
		<td><%- link1.metric %></td>
		<td><%- link2.metric %></td>
	</tr>
	<% } %>
	<% if ( link1.teDefaultMetric != undefined && link1.maxReservableLinkBandwidth != 0 ) { %>
	<tr>
		<th>TE Default Metric</th>
		<td><%- link1.teDefaultMetric %></td>
		<td><%- link2.teDefaultMetric %></td>
	</tr>
	<tr>
		<th>Max bandwidth</th>
		<td><%- link1.maxLinkBandwidth %></td>
		<td><%- link2.maxLinkBandwidth %></td>
	</tr>
	<tr>
		<th>Max reservable</th>
		<td><%- link1.maxReservableLinkBandwidth %></td>
		<td><%- link2.maxReservableLinkBandwidth %></td>
	</tr>
		<% for (var p = 0; p < 8; p++) { %>
		<tr>
			<th>Left bandwidth in pool <%- p %></th>
			<td><% if (typeof(link1.unreservedBandwidth) == "object" &&
				typeof(link1.unreservedBandwidth[p]) == "number") { %> <%-
				link1.unreservedBandwidth[p] %> <% } %></td>
			<td><% if (typeof(link2.unreservedBandwidth) == "object" &&
				typeof(link2.unreservedBandwidth[p]) == "number") { %> <%-
				link2.unreservedBandwidth[p] %> <% } %></td>
		</tr>
		<% } %>
	<tr>
		<th>Admin group</th>
		<td><%- link1.adminGroup %></td>
		<td><%- link2.adminGroup %></td>
	</tr>
	<% } %>
</tbody>
</table>