
<div id="diagrambox">
	<div id="diagram"></div>
	<div id="legend"></div>
</div>

<div id="map-toolbar" class="btn-group-vertical">

	<div class="btn-group-vertical" id="group-refresh">
		<button type="button" id="refresh"
			class="btn btn-default btn-sm btn-primary" data-toggle="tooltip"
			data-placement="left" title="Refresh">
			<span class="glyphicon glyphicon-refresh"></span>
		</button>
	</div>

	<div class="btn-group-vertical" id="group-zoom">
		<button type="button" id="zoomin"
			class="btn btn-default btn-sm btn-primary" data-toggle="tooltip"
			data-placement="left" title="Zoom in">
			<span class="glyphicon glyphicon-zoom-in"></span>
		</button>

		<button type="button" id="zoomout"
			class="btn btn-default btn-sm btn-primary" data-toggle="tooltip"
			data-placement="left" title="Zoom out">
			<span class="glyphicon glyphicon-zoom-out"></span>
		</button>
	</div>

	<div class="btn-group-vertical" id="group-editmap">
		<button type="button" id="editmap"
			class="btn btn-default btn-sm btn-primary" data-toggle="tooltip"
			data-placement="left" title="Edit map">
			<span class="glyphicon glyphicon-pencil"></span>
		</button>
	</div>
	<div class="btn-group-vertical" id="group-savemap">
		<button type="button" id="savemap"
			class="btn btn-default btn-sm btn-danger" data-toggle="tooltip"
			data-placement="left" title="Save map">
			<span class="glyphicon glyphicon-floppy-disk"></span>
		</button>
	</div>

</div>

<div id="routerbox"></div>

<div id="editbox"></div>
