
<div id="diagrambox">
	<div id="diagram"></div>
	<div id="legend"></div>
	<div id="routerbox"></div>
</div>

<div id="map-toolbar">

	<div class="btn-group" id="group-refresh">
		<button type="button" id="refresh"
			class="btn btn-default btn-sm btn-primary" data-toggle="tooltip"
			data-placement="left" title="Refresh">
			<span class="glyphicon glyphicon-refresh"></span>
		</button>
			
		<button type="button" id="autorefresh-on"
			class="btn btn-default btn-sm btn-primary" data-toggle="tooltip"
			data-placement="left" title="Toggle Auto Refresh On">
			<span class="glyphicon glyphicon-repeat"></span>
		</button>
		
		<button type="button" id="autorefresh-off"
			class="btn btn-default btn-sm btn-warning" data-toggle="tooltip"
			data-placement="left" title="Toggle Auto Refresh Off">
			<span class="glyphicon glyphicon-repeat"></span>
		</button>
	</div>
	
	<div class="btn-group" id="group-zoom">
		<button type="button" id="zoomin"
			class="btn btn-default btn-sm btn-primary" data-toggle="tooltip"
			data-placement="left" title="Zoom in">
			<span class="glyphicon glyphicon-zoom-in"></span>
		</button>

		<button type="button" id="zoomout"
			class="btn btn-default btn-sm btn-primary" data-toggle="tooltip"
			data-placement="left" title="Zoom out">
			<span class="glyphicon glyphicon-zoom-out"></span>
		</button>
	</div>

	<div class="btn-group" id="group-editmap">
		<button type="button" id="editmap"
			class="btn btn-default btn-sm btn-primary" data-toggle="tooltip"
			data-placement="left" title="Edit map">
			<span class="glyphicon glyphicon-pencil"></span>
		</button>
	</div>
	<div class="btn-group" id="group-savemap">
		<button type="button" id="savemap"
			class="btn btn-default btn-sm btn-danger" data-toggle="tooltip"
			data-placement="left" title="Save map">
			<span class="glyphicon glyphicon-floppy-save"></span>
		</button>
	</div>
	<div class="btn-group" id="group-googlemaps">
		<button type="button" id="gotogmaps"
			class="btn btn-default btn-sm btn-success" data-toggle="tooltip"
			data-placement="left" title="Switch to Google maps view">
			<span class="glyphicon glyphicon-map-marker"></span>
		</button>
	</div>

</div>


<div id="editbox"></div>