<div class="destination">
<form role="form">
	<div class="form-group">
		<label>Destination <span class="destinationindex"></span></label>
		<div class="input-group">
			<input type="text" class="form-control destination" placeholder="Enter the destination IP address" value="<%- destination.ip %>" />
			<span class="input-group-btn">
				<button class="btn btn-default removedestination" type="button">
					<span class="glyphicon glyphicon glyphicon-remove"></span> Remove destination
				</button>
			</span>
		</div>
	</div>
</form>

<form class="form-horizontal paths" role="form">
	<label>Path options</label>
</form>

<form role="form">
<button type="button" class="btn btn-default addpath">
	<span class="glyphicon glyphicon glyphicon-plus"></span> Add a path option
</button>
</form>
</div>