<tr data-tunnel="<%- id %>"<% if (type == "LIVE" && routerRole == "HEAD") { %> class="livehead"<% } %>>
	<td>
		<%- name %>
		<% if (shutdown) { %> <span class="label label-default">shut</span><% } %>
		<% if (type == "LIVE") { %>
			<span class="label label-success">live</span>
			<% if (typeof(routerRole) == "string") { %><span class="label label-warning"><%- routerRole.toLowerCase() %></span><% } %>
		<% } %>
		
	</td>
	<td><% if (typeof(description) == "string") { %><%- description %><% } %></td>
	<td>
	<% if (typeof(destination) == "object" && typeof(destination.destination) == "object") { %>
	<%- destination.destination.ip %>
	<% } %>
	</td>
	<td>
		<% if (intf.isEditable()) { %>
		<button type="button" class="btn btn-default btn-xs edit"
			data-toggle="tooltip" data-placement="left" title="Edit">
			<span class="glyphicon glyphicon-wrench"></span>
		</button>
		<% } %>
		<% if (intf.isDestroyable()) { %>
		<button type="button" class="btn btn-default btn-xs destroy"
			data-toggle="tooltip" data-placement="left" title="Destroy">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
		<% } %>
	</td>
</tr>