<tr data-path="<%- id %>">
	<td>
		<%- name %>
	</td>
	<td>
		<% var sortedHops = _.sortBy(hops, "key"); %>
		<% for (var h in sortedHops) { %>
		<%- sortedHops[h].key %> &mdash; <%- sortedHops[h].value.ipAddress.ip %>
		<% if (sortedHops[h].value.type != "STRICT") { %>
		<span class="label label-default"><%- sortedHops[h].value.type.toLowerCase() %></span>
		<% } %>
		<br/>
		<% } %>
	</td>
	<td>
		<button type="button" class="btn btn-default btn-xs edit"
			data-toggle="tooltip" data-placement="left" title="Edit">
			<span class="glyphicon glyphicon-wrench"></span>
		</button>
		<button type="button" class="btn btn-default btn-xs destroy"
			data-toggle="tooltip" data-placement="left" title="Destroy">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	</td>
</tr>