
<div class="form-group pathoption" data-path-index="<%- key %>">
	<div class="col-lg-8">
		<div class="input-group">
			<span class="input-group-addon">Option</span>
			<select class="form-control">
				<option value="">(Dynamic)</option>
				<% for (var i in explicitPaths) { %>
				<option value="<%- explicitPaths[i].name %>" data-path="<%- explicitPaths[i].id %>"
				<% if (explicitPaths[i].name == value.name) { %>selected="selected"<% } %>>
					<%- explicitPaths[i].name %>
				</option>
				<% } %>
			</select>
			<span class="input-group-btn">
				<button class="btn btn-default pathremove" type="button">
					<span class="glyphicon glyphicon glyphicon-remove"></span>
				</button>
			</span>
		</div>
	</div>
</div>

