
<% if (typeof(virtual) != "undefined" && virtual === false) { %>
<div class="pull-right">
<ul class="nav nav-pills" role="tablist" id="menu">
    <li class="active"><a id="goto-interfaces" href="#">Interfaces</a></li>
    <li><a id="goto-prefixes" href="#">Prefixes</a></li>
</ul>
</div>
<% } %>

<% if (typeof(virtual) != "undefined" && virtual === true) { %>
<h4><i>This router is a pseudonode</i></h4>
<% } else { %>
<h4><%- name %></h4>
<% } %>
<h4><small>router-id: <%- routerId.identifier %><br>
autonomous system: <%- routerId.autonomousSystem %><br>
<!-- TODO : proper handling of area id TLV, whether it is OSPF (514) or ISIS (1027) 
<% if (typeof(routerId.areaId) != "undefined") { %>
area id: <%- routerId.areaId %>
<% } %>
-->
</small></h4>

<% if (typeof(lost) != "undefined" && lost === true) { %>

<div class="alert alert-warning" role="alert">

<p>The router isn't seen anymore in the IGP topology.</p>

<p>
<button type="button" class="btn btn-danger" id="remove">
  <span class="glyphicon glyphicon-remove"></span> Remove from map
</button>
</p>

</div>

<% } %>

<% if (typeof(virtual) != "undefined" && virtual === false) { %>
<div id="section"></div>
<% } %>