
<h4>P2P TE Tunnels</h4>

<!-- remove the create button 
	<button type="button" class="btn btn-default" id="addp2ptetunnel">
	<span class="glyphicon glyphicon-plus"></span> Create a P2P Tunnel
</button> -->

<table class="table table-condensed table-hover" id="p2ptetunnels">
<thead>
	<tr><th>Name</th><th>Description</th><th>Destination</th><th></th></tr>
</thead>
<tbody>
</tbody>
</table>

<h4>P2MP TE Tunnels</h4>

<!-- <button type="button" class="btn btn-default" id="addp2mptetunnel">
	<span class="glyphicon glyphicon-plus"></span> Create a P2MP Tunnel
</button> -->

<table class="table table-condensed table-hover" id="p2mptetunnels">
<thead>
	<tr><th>Name</th><th>Description</th><th>Destinations</th><th></th></tr>
</thead>
<tbody>
</tbody>
</table>

