
<h4>Static Routes</h4>

<button type="button" class="btn btn-default" id="addstaticroute">
	<span class="glyphicon glyphicon-plus"></span> Add a static route
</button>

<table class="table table-condensed table-hover" id="ipv4staticroutes">
<thead>
	<tr><th>Subnet</th><th>Next Hop</th><th>Metric</th><th></th></tr>
</thead>
<tbody>
</tbody>
</table>

<h4>Multicast Reverse Routes (routes to sources)</h4>

<button type="button" class="btn btn-default" id="addreversestaticroute">
	<span class="glyphicon glyphicon-plus"></span> Add a RPF route
</button>

<table class="table table-condensed table-hover" id="ipv4reversestaticroutes">
<thead>
	<tr><th>Source</th><th>Ingress PE router ID</th><th>Protocol</th><th></th></tr>
</thead>
<tbody>
</tbody>
</table>

<h4>RSVP-TE/SSM Enabled Groups</h4>

<button type="button" class="btn btn-default" id="addipv4ssmrsvpgroup">
	<span class="glyphicon glyphicon-plus"></span> Add a RSVP-TE or SSM group
</button>

<table class="table table-condensed table-hover" id="ipv4ssmrsvpgroups">
<thead>
	<tr><th>Group</th><th></th></tr>
</thead>
<tbody>
</tbody>
</table>

<h4>Multicast (IGMP) Static Groups</h4>

<button type="button" class="btn btn-default" id="addigmpstaticgroup">
	<span class="glyphicon glyphicon-plus"></span> Add a group
</button>

<table class="table table-condensed table-hover" id="igmpstaticgroups">
<thead>
	<tr><th>Group</th><th>Source</th><th>Interface</th><th></th></tr>
</thead>
<tbody>
</tbody>
</table>
