<h2>
	<%- router.name %> <small>Task</small>
</h2>

<form role="form">
	<div class="form-group">
		<label>Creation time</label>
		<p class="form-control-static"><%- new Date(creationTime) %></p>
	</div>
	<div class="form-group">
		<label>Steps</label>
		<div id="tasks" data-original-task="<%- id %>"></div>
	</div>
</form>

<div class="buttonbar" style="display: none;">
	<button type="button" class="btn btn-default" id="cancel">
		<span class="glyphicon glyphicon glyphicon-ban-circle"></span> Close
	</button>
</div>