
<h4><%- link.protocolId %> Link <small>between <%- source.name %> and <%- target.name %></small></h4>

<% if ( link.lost === true) { %>

<div class="alert alert-warning" role="alert">

The link isn't present anymore in the IGP topology.

<button type="button" class="btn btn-danger" id="remove">
  <span class="glyphicon glyphicon-remove"></span> Remove from map
</button>

</div>

<% } %>

<div class=CSSTableGenerator>
<table>
<thead>
	<tr>
		<th></th>
		<th><%- source.name %></th>
		<th><%- target.name %></th>
	</tr>
</thead>
<tbody>
	<% if (typeof(source.localInterfaceName) != "undefined") { %>
	<tr>
		<th>Interface</th>
		<td><%- source.localInterfaceName %></td>
		<td><%- source.remoteInterfaceName %></td>
	</tr>
	<tr>
		<th>Description</th>
		<td><%- source.localInterfaceDescription %></td>
		<td><%- source.remoteInterfaceDescription %></td>
	</tr>
	<tr>
		<th>IP address</th>
		<td><%- source.localAddress.ip %></td>
		<td><%- source.remoteAddress.ip %></td>
	</tr>
	<% } %>
	<% if ( source.metric != 0 ) { %>
	<tr>
		<th>Metric</th>
		<td><%- source.metric %></td>
		<td><%- target.metric %></td>
	</tr>
	<% } %>
	<% if ( source.teDefaultMetric != undefined && source.maxReservableLinkBandwidth != 0 ) { %>
	<tr>
		<th>TE Default Metric</th>
		<td><%- source.teDefaultMetric %></td>
		<td><%- target.teDefaultMetric %></td>
	</tr>
	<tr>
		<th>Max bandwidth</th>
		<td><%- source.maxLinkBandwidth %></td>
		<td><%- target.maxLinkBandwidth %></td>
	</tr>
	<tr>
		<th>Max reservable</th>
		<td><%- source.maxReservableLinkBandwidth %></td>
		<td><%- target.maxReservableLinkBandwidth %></td>
	</tr>
		<% for (var p = 0; p < 8; p++) { %>
		<tr>
			<th>Left bandwidth in pool <%- p %></th>
			<td><% if (typeof(source.unreservedBandwidth) == "object" &&
				typeof(source.unreservedBandwidth[p]) == "number") { %> <%-
				source.unreservedBandwidth[p] %> <% } %></td>
			<td><% if (typeof(target.unreservedBandwidth) == "object" &&
				typeof(target.unreservedBandwidth[p]) == "number") { %> <%-
				target.unreservedBandwidth[p] %> <% } %></td>
		</tr>
		<% } %>
	<tr>
		<th>Admin group</th>
		<td><%- source.adminGroup %></td>
		<td><%- target.adminGroup %></td>
	</tr>
	<% } %>
</tbody>
</table>
</div>