
<% if (typeof(virtual) != "undefined" && virtual === true) { %>
<h6><i>This router is a pseudonode</i></h6>
<% } else { %>
<h6><%- name %></h6>
<% } %>
<p>router-id: <%- routerId.identifier %><br>
autonomous system: <%- routerId.autonomousSystem %><br>
<% if (typeof(isisAreaIds) == "object" && isisAreaIds.length > 0) { %>
area id: <%- isisAreaIds.join(", ") %><br>
<% } %>
<% if (typeof(location) != "undefined" && location.length > 0) { %>
location: <%- location %>
<% } %>
</small></p>

<% if (typeof(lost) != "undefined" && lost === true) { %>

<div class="alert alert-warning" role="alert">

<h4>This router is not anymore in the IGP topology,</h4>
<h4><small>double click to remove it from actual view</small></h4>

</div>

<% } %>

<% if (typeof(virtual) != "undefined" && virtual === false) { %>
<div id="section"></div>
<% } %>