<div id="gmap"></div>

<div id="gmap-toolbar">

	<div class="btn-group" id="group-refresh">
		<button type="button" id="refresh"
			class="btn btn-default btn-sm btn-primary" data-toggle="tooltip"
			data-placement="left" title="Refresh">
			<span class="glyphicon glyphicon-refresh"></span>
		</button>
		
		<button type="button" id="autorefresh"
			class="btn btn-default btn-sm btn-primary" data-toggle="tooltip"
			data-placement="left" title="Toggle Auto Refresh">
			<span class="glyphicon glyphicon-repeat"></span>
		</button>
	</div>

	<div class="btn-group" id="group-blt">
		<button type="button" id="gotoblt"
			class="btn btn-default btn-sm btn-success" data-toggle="tooltip"
			data-placement="left" title="Switch back to BLT standard view">
			<span class="glyphicon glyphicon-log-out"></span>
		</button>
	</div>

</div>
