body {
	padding-top: 70px;
	padding-bottom: 30px;
}

#splash {
	border: 1px solid #ccc;
	max-width: 330px;
	padding: 15px;
	margin: auto auto;
}

#splash #error {
	display: none;
}

#licenseissue {
	position: absolute;
	left: 5px;
	top: 60px;
	width: 300px;
	display: none;
}

.form-signin {
	
}

.form-signin .form-signin-heading {
	background: url("../img/blt.png") no-repeat;
	padding-left: 100px;
	padding-top: 5px;
	height: 100px;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#page {
	display: none;
}

#header {
	display: none;
}

.table-condensed {
	font-size: 11px;
}

table.simple th {
	padding-right: 20px;
}
table.bubbleTab {
  width: 100%;
  font-size:11px;
  background-color:#dcdcdc; 
  border-spacing: 5px;
}
table.bubbleTab thead th {
  border: 2px solid #eee; 
  text-align: left;
  padding-left: 5px;
}
table.bubbleTab tbody td {
  border: 2px solid #fff; 
  background-color:#eee; 
  padding-left: 5px;
}
table.bubbleTab tbody tr:hover td {
  background-color:#fff; 
}
table.bubbleTab tbody tr.bubbleLost td {
  background-color:#fcc;
  border: 1px solid #f99; 
}
table.bubbleTab tbody tr.bubbleLost:hover td {
  background-color:#fdd; 
}
table.bubbleTab tbody tr.bubbleNew td {
  background-color:#dfd;
  border: 1px solid #0b0; 
}
table.bubbleTab tbody tr.bubbleNew:hover td {
  background-color:#efe; 
}
.navbar-brand {
	padding-top: 12px;
}

.blt-brand {
	background: url("../img/blt-inv.png") no-repeat;
	color: white;
	padding-left: 40px;
	padding-top: 3px;
	display: block;
	height: 32px;
}

#map-toolbar {
	position: absolute;
	top: 72px;
	left: 20px;
	width: 250px;
}

#map-toolbar .btn-group-vertical {
	margin-bottom: 5px;
}

#gmap-toolbar {
	position: absolute;
	top: 68px;
	left: 150px;
	width: 250px;
}

#diagrambox {
	position: absolute;
	right: 10px;
	bottom: 10px;
	left: 10px;
	top: 65px;
	border: 1px solid #DDD;
	overflow: auto;
}

#gmap {
	position: absolute;
	right: 5px;
	bottom: 5px;
	left: 5px;
	top: 57px;
	border: 1px solid #DDD;
	overflow: auto;
}

#diagram {
	position: absolute;
}

#diagrambox #legend {
	position: absolute;
	width: 500px;
	bottom: 20px;
	left: 50px;
	background-color: #2c3e50;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 5px;
	color: white;
	text-align: left;
	-webkit-transition: background-color 0.25s ease-in;
	-moz-transition: background-color 0.25s ease-in;
	display: none;
}

#diagrambox #legend .title {
	font-weight: bold;
	color: white;
	margin-right: 10px;
}

#diagrambox #legend .title.dynamic {
	font-style: italic;
}
#diagrambox #legend .title.computed {
	font-style: italic;
}

#diagrambox #legend .legend0 {
	color: #3498db;
}

#diagrambox #legend .legend1 {
	color: #3498db;
}

#diagrambox #legend .legend2 {
	color: #8e44ad;
}

#diagrambox #legend .legend3 {
	color: #16a085;
}

#diagrambox #legend .legend4 {
	color: #6080A0;
}

#diagrambox #legend .legend5 {
	color: #008020;
}

#diagrambox #legend .legend6 {
	color: #A0A010;
}

#diagrambox.dragging {
	border: 1px solid #D33;
}

#diagram .router {
	padding: 12px;
	position: absolute;
	border: 1px solid black;
	z-index: 4;
	border: 1px solid #2e6f9a;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius: 8px;
	border-radius: 8px;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	background-color: white;
	font-size: 11px;
	/*font-weight: bold;*/
	-webkit-transition: background-color 0.25s ease-in;
	-moz-transition: background-color 0.25s ease-in;
	transition: background-color 0.25s ease-in;
	cursor: pointer;
}

#diagram .router.lost {
	font-color: #c0392b;	
	border-width: 2px;
}

#diagram.dragging .router {
	cursor: move;
}

#diagram .router:hover {
	background-color: #5c96bc;
	color: white;
}

#diagram .router.selected {
	background-color: #f39c12;
}

#diagram .router.target {
	border: 3px solid #e74c3c;	
}

#diagram .router.lost {
	border: 3px solid #c0392b,
}

#diagram .router.psn {
	background-color: #c0c0c0;
	color: white;
	z-index: 5;
}

#diagram .router.hasanewprefix {
	background-color: #a2dfa3;
}

#diagram .router.haslostaprefix {
	background-color: #ffaeae;
}

#diagram .router.haslossandnewpfx {
	background-color: #ffbe7d;
}

#diagram .link path {
	stroke: #678;
	stroke-width: 1;
}

#diagram .link.psn path {
	stroke: #678;
	stroke-width: 3;
}

#diagram .link.lost path {
	stroke-dasharray: 6, 2;
	stroke: #B78;
	stroke-width: 1;
}

#diagram .link._jsPlumb_hover path {
	stroke: #1e8151;
	stroke-width: 3;
}

#diagram .link.selected path {
	stroke: #f39c12;
}

#diagram .link path.linkarrow {
	fill: #678;
	stroke: none
}

#diagram .link.selected path.linkarrow {
	fill: #ffff50;
	stroke: none
}

#diagram .linklabel._jsPlumb_hover,#diagram ._jsPlumb_source_hover,#diagram ._jsPlumb_target_hover
	{
	background-color: #1e8151;
	color: white;
	display: block;
}

#diagram .linklabel {
	-webkit-transition: background-color 0.25s ease-in;
	-moz-transition: background-color 0.25s ease-in;
	transition: background-color 0.25s ease-in;
	display: none;
	background-color: white;
	opacity: 0.8;
	padding: 0.3em;
	border-radius: 0.5em;
	border: 1px solid #346789;
	cursor: pointer;
	font-size: 10px;
}

#diagram .link.selected .linklabel {
	background-color: #ffff50;
	display: block;
}

#diagram .path path {
	stroke-dasharray: 5, 1;
	stroke-width: 1;
}

#diagram .path.loose path {
	opacity: 0.3;
}

#diagram .path0 path {
	stroke: #3498db;
}

#diagram .path1 path {
	stroke: #3498db;
}

#diagram .path2 path {
	stroke: #8e44ad;
}

#diagram .path3 path {
	stroke: #16a085;
}

#diagram .path4 path {
	stroke: #6080A0;
}

#diagram .path5 path {
	stroke: #008020;
}

#diagram .path6 path {
	stroke: #A0A010;
}

#diagram .path path.patharrow {
	stroke-width: 2;
	stroke: none
}

#diagram .path0 path.patharrow {
	fill: #3498db;
}

#diagram .path1 path.patharrow {
	fill: #3498db;
}

#diagram .path2 path.patharrow {
	fill: #8e44ad;
}

#diagram .path3 path.patharrow {
	fill: #16a085;
}

#diagram .path4 path.patharrow {
	fill: #6080A0;
}

#diagram .path5 path.patharrow {
	fill: #008020;
}

#diagram .path6 path.patharrow {
	fill: #A0A010;
}

#diagram .pathlabel {
	padding: 0.1em 0.5em 0.1em 0.5em;
	border-radius: 0.5em;
	color: white;
	font-size: 10px;
	font-weight: bold;
}

#diagram .pathlabel0 {
	background-color: #3498db;
	border: 1px solid #3498db;
}

#diagram .pathlabel1 {
	background-color: #3498db;
	border: 1px solid #3498db;
}

#diagram .pathlabel2 {
	background-color: #8e44ad;
	border: 1px solid #8e44ad;
}

#diagram .pathlabel3 {
	background-color: #16a085;
	border: 1px solid #16a085;
}

#diagram .pathlabel4 {
	background-color: #6080A0;
	border: 1px solid #6080A0;
}

#diagram .pathlabel5 {
	background-color: #008020;
	border: 1px solid #008020;
}

#diagram .pathlabel6 {
	background-color: #A0A010;
	border: 1px solid #A0A010;
}

#diagram ._jsPlumb_endpoint {
	z-index: 3;
}

#diagram .dragHover {
	border: 2px solid orange;
}

#diagram path {
	cursor: pointer;
}

#routerbox {
	position: absolute;
	width: 500px;
	top: 20px;
	right: 20px;
	height: 400px;
	overflow: auto;
	border: 1px solid #2e6f9a;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	padding: 15px;
	display: none;
	background-color: #FFFFFF;
	z-index: 100;
}

#routerbox h4 {
	cursor: move;
}

#editbox {
	position: absolute;
	bottom: 10px;
	left: 664px;
	top: 65px;
	right: 10px;
	overflow: auto;
	display: none;
}

#editbox .buttonbar {
	margin-top: 50px;
}

#editbox #pathname {
	width: 300px;
}

#editbox .form-horizontal .form-group {
	margin-right: 0px;
}

#editbox #error {
	display: none;
}

#editbox .task {
	padding: 10px;
}

.loader {
	display: inline-block;
	height: 16px;
	width: 16px;
	background-image: url("../img/ajax-loader.gif");
}

table tr.livehead td {
	border-top-style: dashed;
}

.spinner {
	width: 100px;
}

.spinner input {
	text-align: right;
}

.input-group-btn-vertical {
	position: relative;
	white-space: nowrap;
	width: 1%;
	vertical-align: middle;
	display: table-cell;
}

.input-group-btn-vertical>.btn {
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
	padding: 8px;
	margin-left: -1px;
	position: relative;
	border-radius: 0;
}

.input-group-btn-vertical>.btn:first-child {
	border-top-right-radius: 4px;
}

.input-group-btn-vertical>.btn:last-child {
	margin-top: -2px;
	border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
	position: absolute;
	top: 6px;
	left: 4px;
}

.checkbox label {
	font-weight: 700;
}

#editbox div.destination {
	margin-bottom: 20px;
	padding: 15px;
	border-left: 3px solid #BBB;
}

table#users th.login {
	width: 300px;
}

table#users th.actions {
	width: 80px;
}

.admin-network th.actions {
	width: 40px;
}

.admin-network th.subnet {
	width: 100px;
}

.alert {
	padding: 10px;
}

textarea#license {
	font-family: monospace;
	font-size: 11px;
	margin-bottom: 15px;
}

/* Base styles (regardless of theme) */
.bs-callout {
	margin: 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
}

.bs-callout h4 {
	margin-top: 0;
}

.bs-callout p:last-child {
	margin-bottom: 0;
}

.bs-callout code,.bs-callout .highlight {
	background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
	background-color: #fcf2f2;
	border-color: #dFb5b4;
}

.bs-callout-warning {
	background-color: #fefbed;
	border-color: #f1e7bc;
}

.bs-callout-info {
	background-color: #f0f7fd;
	border-color: #d0e3f0;
}
/*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 *
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
.ie9 img[src*=".svg"] {
  width: 100%; 
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*=".svg"] {
    width: 100%; 
  }
}